version: 1.0.{build}
image: Visual Studio 2022
configuration: Release

install:
- ps: nuget restore

before_build:
- ps: nuget restore

build_script:
- dotnet build PowerPlanSwitcher.sln --configuration Release

test_script:
- dotnet test RuleManagementTest/RuleManagementTest.csproj --configuration Release --no-build

after_build:
- dotnet pack PowerPlanSwitcher/PowerPlanSwitcher.csproj --configuration Release --include-symbols --output artifacts
