<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerPlanSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PowerPlanSwitcher.Properties.Settings>
            <setting name="PowerSchemeSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PowerRules" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivateInitialPowerScheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitialPowerSchemeGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="ColorTheme" serializeAs="String">
                <value>Use System Setting</value>
            </setting>
            <setting name="CyclePowerSchemeHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="CycleOnlyVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AcPowerSchemeGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="BatterPowerSchemeGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="ShowToastNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rules" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradePowerRulesToRules" serializeAs="String">
                <value>False</value>
            </setting>
        </PowerPlanSwitcher.Properties.Settings>
    </userSettings>
</configuration>