<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <?include $(sys.CURRENTDIR)\Config.wxi?>

    <Package Name="$(var.ProductName)"
             Language="1033"
             Version="!(bind.FileVersion.Product.exe)"
             Manufacturer="$(var.Manufacturer)"
             UpgradeCode="$(var.UpgradeCode)"
             InstallerVersion="200">

        <MajorUpgrade AllowSameVersionUpgrades="yes"
                      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature"
                 Title="$(var.ProductComponent)"
                 Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <CustomActionRef Id="LaunchProduct" />

        <UIRef Id="UISequence" />
    </Package>

    <!-- Directory definitions -->
    <Fragment>
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="PRODUCTFOLDER"
                       Name="$(var.ProductComponent)">
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder" />
        <StandardDirectory Id="StartupFolder" />
    </Fragment>

    <!-- Icon definition -->
    <Fragment>
        <Icon Id="ProductIcon.ico"
              SourceFile="$(var.SolutionDir)PowerPlanSwitcher\Resources\power_surge.ico" />
    </Fragment>

    <!-- File actions -->
    <Fragment>
        <ComponentGroup Id="ProductComponents"
                        Directory="PRODUCTFOLDER">
            <Files Include="$(var.PowerPlanSwitcher.ProjectDir)bin\publish\*.*">
                <Exclude Files="$(var.PowerPlanSwitcher.ProjectDir)bin\publish\PowerPlanSwitcher.exe" />
            </Files>
            <Files Include="$(var.PowerPlanSwitcher.ProjectDir)bin\publish\Resources\*.*"
                   Subdirectory="Resources"/>
            
            <Component Id="ProductComponent"
                       Guid="EC4DAFD1-0E6C-4FDE-AF27-BBBFE3C11770"
                       Bitness="always64">
                <File Id="Product.exe"
                      Source="$(var.PowerPlanSwitcher.ProjectDir)bin\publish\PowerPlanSwitcher.exe" />

                <Shortcut Id="ProductStartMenuShortcut"
                          Directory="ProgramMenuFolder"
                          Name="$(var.ProductName)"
                          Icon="ProductIcon.ico"
                          WorkingDirectory="PRODUCTFOLDER"
                          Advertise="yes" />

                <Shortcut Id="ProductAutoStartShortcut"
                          Directory="StartupFolder"
                          Name="$(var.ProductName)"
                          Icon="ProductIcon.ico"
                          WorkingDirectory="PRODUCTFOLDER"
                          Advertise="yes" />

            </Component>
        </ComponentGroup>
    </Fragment>

    <!-- Custom Actions -->
    <Fragment>
        <Property Id="WixShellExecTarget"
                  Value="[#Product.exe]" />
        <CustomAction Id="LaunchProduct"
                      DllEntry="WixShellExec"
                      Impersonate="yes"
                      Return="ignore"
                      BinaryRef="Wix4UtilCA_X86" />

        <Property Id="QtExecCmdLine"
                  Value="&quot;[WindowsFolder]\System32\taskkill.exe&quot; /IM PowerPlanSwitcher.exe" />
        <CustomAction Id="CloseProduct"
                      DllEntry="WixQuietExec"
                      Execute="immediate"
                      Return="ignore"
                      BinaryRef="Wix4UtilCA_X86" />

        <CustomAction Id="UpdateCmdToKill"
                      Property="WixQuietExecCmdLine"
                      Value="&quot;[WindowsFolder]\System32\taskkill.exe&quot; /F /IM PowerPlanSwitcher.exe"
                      Execute="immediate"
                      Return="check" />

        <CustomAction Id="KillProduct"
                      DllEntry="WixQuietExec"
                      Execute="immediate"
                      Return="ignore"
                      BinaryRef="Wix4UtilCA_X86" />

        <InstallExecuteSequence>
            <Custom Action="LaunchProduct"
                    After="InstallFinalize" />
            <Custom Action="CloseProduct"
                    Before="LaunchConditions" />
            <Custom Action="UpdateCmdToKill"
                    After="CloseProduct" />
            <Custom Action="KillProduct"
                    After="UpdateCmdToKill" />
        </InstallExecuteSequence>
    </Fragment>

    <!-- UI Sequence -->
    <Fragment>
        <UI Id="UISequence">
            <ui:WixUI Id="WixUI_FeatureTree" />

            <!-- Skip license dialog -->
            <Publish Dialog="WelcomeDlg"
                     Control="Next"
                     Event="NewDialog"
                     Value="CustomizeDlg"
                     Order="2" />
            <Publish Dialog="CustomizeDlg"
                     Control="Back"
                     Event="NewDialog"
                     Value="WelcomeDlg"
                     Order="2" />
        </UI>
    </Fragment>

</Wix>
