<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include $(sys.CURRENTDIR)\Config.wxi?>

    <Product Id="*"
             Name="$(var.ProductName)"
             Language="1033"
             Version="!(bind.FileVersion.Product.exe)"
             Manufacturer="$(var.Manufacturer)"
             UpgradeCode="$(var.UpgradeCode)">

        <Package InstallerVersion="200"
                 Compressed="yes"
                 InstallScope="perMachine" />

        <MajorUpgrade AllowSameVersionUpgrades="yes"
                      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <MediaTemplate EmbedCab="yes" />

        <?if $(var.Platform) = x64 ?>
        <?define Win64 = "yes" ?>
        <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
        <?else ?>
        <?define Win64 = "no" ?>
        <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
        <?endif ?>

        <Feature Id="ProductFeature" Title="$(var.ProductComponent)" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <CustomActionRef Id="LaunchProduct" />
        
        <UIRef Id="UISequence" />
    </Product>

    <!-- Directory definitions -->
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="PRODUCTFOLDER" Name="$(var.ProductComponent)">
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" />
            <Directory Id="StartupFolder" />
        </Directory>
    </Fragment>

    <!-- Icon definition -->
    <Fragment>
        <Icon Id="ProductIcon.exe" SourceFile="$(var.PowerPlanSwitcher.TargetPath)" />
        <Property Id="ARPPRODUCTICON" Value="ProductIcon.exe" />
    </Fragment>

    <!-- File actions -->
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="PRODUCTFOLDER">
            <Component Id="ProductComponent" Win64="$(var.Win64)" Guid="EC4DAFD1-0E6C-4FDE-AF27-BBBFE3C11770">
                <File Id="Product.exe"
                      Source="$(var.PowerPlanSwitcher.TargetDir)..\publish\PowerPlanSwitcher.exe" />

                <Shortcut Id="ProductStartMenuShortcut"
                          Directory="ProgramMenuFolder"
                          Name="$(var.ProductName)"
                          Icon="ProductIcon.exe"
                          WorkingDirectory="INSTALLFOLDER"
                          Advertise="yes" />

                <Shortcut Id="ProductAutoStartShortcut"
                          Directory="StartupFolder"
                          Name="$(var.ProductName)"
                          Icon="ProductIcon.exe"
                          WorkingDirectory="INSTALLFOLDER"
                          Advertise="yes" />

            </Component>
        </ComponentGroup>
    </Fragment>

    <!-- Custom Actions -->
    <Fragment>
        <Property Id="WixShellExecTarget" Value="[#Product.exe]" />
        <CustomAction Id="LaunchProduct"
                      BinaryKey="WixCA"
                      DllEntry="WixShellExec"
                      Impersonate="yes"
                      Return="ignore" />

        <Property Id="QtExecCmdLine"
          Value='"[WindowsFolder]\System32\taskkill.exe" /IM PowerPlanSwitcher.exe'/>
        <CustomAction Id="CloseProduct"
                      BinaryKey="WixCA"
                      DllEntry="CAQuietExec"
                      Execute="immediate"
                      Return="ignore" />

        <CustomAction Id="UpdateCmdToKill"
                      Property="QtExecCmdLine"
                      Value='"[WindowsFolder]\System32\taskkill.exe" /F /IM PowerPlanSwitcher.exe'
                      Execute='immediate'
                      Return="check" />

        <CustomAction Id="KillProduct"
                      BinaryKey="WixCA"
                      DllEntry="CAQuietExec"
                      Execute="immediate"
                      Return="ignore" />

        <InstallExecuteSequence>
            <Custom Action="LaunchProduct" After="InstallFinalize" />
            <Custom Action="CloseProduct" Before="LaunchConditions" />
            <Custom Action="UpdateCmdToKill" After="CloseProduct" />
            <Custom Action='KillProduct' After="UpdateCmdToKill" />
        </InstallExecuteSequence>
    </Fragment>
    
    <!-- UI Sequence -->
    <Fragment>
        <UI Id="UISequence">
            <UIRef Id="WixUI_FeatureTree" />
            
            <!-- Skip license dialog -->
            <Publish Dialog="WelcomeDlg"
                     Control="Next"
                     Event="NewDialog"
                     Value="CustomizeDlg"
                     Order="2">1</Publish>
            <Publish Dialog="CustomizeDlg"
                     Control="Back"
                     Event="NewDialog"
                     Value="WelcomeDlg"
                     Order="2">1</Publish>
        </UI>
    </Fragment>

</Wix>
